--- 
--- 

@import "{{ site.theme }}";

body {
  background-color: #1e1e1e;
  padding: 50px;
  font: 18px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #fff;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #fff;
}

h1
{
  margin: 0 0 20px;
}

h1,
h2,
h3,
h4 {
  font-family: "Pixel"
}

.wrapper {
  width: 80%;
  margin: 0 auto
}

header {
  text-align: center;
  padding: 20px;
}

header img {
  width: 100%;
  border-radius: 50%;
  margin-bottom: 25px;
  display: none;
}

.side img {
  width: 100%;
  border-radius: 50%;
  margin-bottom: 25px;
  display: block;
}

section {
  padding-bottom: 50px;
}

blockquote {
  border-left: 1px solid #e5e5e5;
  margin: 0;
  padding: 0 0 0 20px;
  font-style: italic
}

a {
  color: #3d91ff;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #66a8ff;
}

a:hover p {
  position: absolute;
}

ul,
ol {
  padding-left: revert;
}

nav {
  display: flex;
  background-color: #464f59;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0
}

nav ul li {
  display: inline;
}

nav ul li a {
  display: inline-block;
  font-family: "Pixel";
  text-transform: lowercase;
  padding: 10px 20px;
  text-decoration: none;
  color: white;
}

nav ul li a:hover {
  background-color: gray;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  transition-duration: 0.5s;
  font-weight: normal;
  text-decoration: none;
}

.break {
  display: flex;
  background-color: #464f59;
  margin-bottom: 20px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.side {
  flex: 30%;
  padding: 20px;
}

.main {
  flex: 70%;
  padding: 20px;
}

.portfolio {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  div.container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 20px;
  }

  div.element {
    display: inline-block;
    text-align: center;
    width: 25%;
    height: 75%;
    background-color: #464f59;
    overflow: hidden;
    border: 10px solid #1e1e1e;
  }

  div.element:hover {
    background-color: gray;
    border-radius: 20px;
    cursor: pointer;
    transition-duration: 0.5s;
  }

  div img {
    width: 100%;
    height: 100%;
  }

  a {
    width: 100%;
    height: 100%;
  }

  div.element h2 {
    padding: 10px 20px 0px;
  }

  a:hover {
    text-decoration: none;
  }
}

footer {
  width: 270px;
  float: left;
  //position: fixed;
  bottom: 50px;
  -webkit-font-smoothing: subpixel-antialiased
}

@media (max-width: 400px) {

  .row,
  nav {
    flex-direction: column;
  }

  header h2 {
    font-size: 14px;
  }

  header {
    padding: 0px;
  }
}

@media (max-width: 600px) {
  header img {
    display: block;
  }

  header h2 {
    font-size: smaller;
  }

  .side {
    display: none;
  }
}

@media (max-width: 800px) {
  .portfolio div.container {
    flex-direction: column;
  }

  .portfolio div.element {
    width: 100%;
  }
}

@font-face {
  font-family: "Pixel";
  src: url("../../fonts/04B_03__.TTF") format("truetype")
}

.social-link {
  //display: inline-block;display: inline-block;
  //font-family: "Pixel";
  //text-transform: lowercase;
  //padding: 0px 0px;
  //text-decoration: none;
  //color: white;    
  background-size: cover;
}

.linkedin {
  background-image: url('../../images/linkedin_logo.png');
}

.github {
  background-image: url('../../images/github_logo.png');
}