---
---

@import "{{ site.theme }}";

body {
  background-color: #1e1e1e;
  padding: 50px;
  font: 14px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #fff;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  color: #fff;
  margin: 0 0 20px;
}

h1, h3, h4 {
  font-family: "Pixel"
}

h2 {
  font-family: "Pixel";
  font-weight: 600;
}

header
{
  text-align: center;
}

.wrapper {
  width: 75%;
  margin: 0 auto
}

.right {
  width: 75%;
  float: right;
}

.left {
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%; 
    height: auto;
    border-radius: 50%;
    margin-bottom: 25px;
  }

  width: 20%;
  float: left;
  text-align: right;
  margin-top: 40px;
  padding-left: 20px;
}

section {
  padding-bottom: 50px;
}

blockquote {
  border-left: 1px solid #e5e5e5;
  margin: 0;
  padding: 0 0 0 20px;
  font-style: italic
}

strong {
  color: white;
  font-weight: 600;
}

a {
  color: #3d91ff;
  text-decoration: none;
}

a:hover, a:focus {
  color: #66a8ff;
}

a:hover p {
  position: absolute;
}

nav {
  background-color: #464f59;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0
}

nav ul li {
  display: inline
}

nav ul li a {
  display: inline-block;
  font-family: "Pixel";
  text-transform: lowercase;
  padding: 10px 20px;
  text-decoration: none;
  color: white;
}

nav ul li a:hover {
  background-color: gray;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  transition-duration: 0.5s;
  font-weight: normal;
  text-decoration: none;
}

.portfolio {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  div.container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  div.element {
    display: inline-block;
    text-align: center;
    width: 25%;
    height: 25%;
    background-color: #464f59;
    padding: 10px 20px;
  }

  div.element:hover {
    background-color: gray;
    border-radius: 10px;
    cursor: pointer;
    transition-duration: 0.5s;
  }

  div img {
    width: 100%;
    height: 100%;
  }

  a {
    width: 100%;
    height: 100%;
  }

  a:hover {
    text-decoration: none;
  }

  //a {
  //  //display: inline-block;
  //  width: 100%;
  //  height: 100%;
  //  background-color: #464f59;
  //  padding: 10px 20px;
  //  color: white;
 // }

  //a:hover {
   // background-color: gray;
   // border-radius: 10px;
   // cursor: pointer;
   // transition-duration: 0.5s;
   // text-decoration: none;
   // font-weight: normal;
  //}

   // display: inline-block;
   // max-width: 25%;
   // max-height: fit-content;
   // background-color: gray;
   // border-radius: 10px;
   // padding: 10px 20px;
   // color: white;
   // cursor: pointer;
   // transition-duration: 0.5s;
   // text-decoration: none;
   // font-weight: normal;
  //}

  //ul li a {
  //  display: inline-block;
  //  padding: 10px 20px;
   // text-decoration: none;
  //  color: white;
  //  background-color: #3d91ff;
  //}

  //ul li a:hover {
  //  background-color: gray;
  //  border-radius: 10px;
   // color: white;
   // cursor: pointer;
   // transition-duration: 0.5s;
   // text-decoration: none;
  //}
}

footer {
  width: 270px;
  float: left;
  position: fixed;
  bottom: 50px;
  -webkit-font-smoothing: subpixel-antialiased
}

@font-face {
    font-family: "Pixel";
    src: url("../../fonts/04B_03__.TTF") format("truetype")
}
