<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US" }}">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ " /assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
</head>

<body>
  <div class="wrapper">
    <header>
      <img src="../images/profile-picture.jpg">
      <h1>christina.pilip</h1>
      <h2>> software developer_</h2>
    </header>
    <nav>
      <ul>
        <li><a href="http://localhost:4000/">home</a></li>
        <li><a href="#resume">resume</a></li>
        <li><a href="#portfolio">portfolio</a></li>
        <li><a href="http://localhost:4000/" class="social-link github"></a></li>
        <li><a href="http://localhost:4000/" class="social-link linkedin"></a></li>
      </ul>
    </nav>
    <section>
      <br>
      <div class="row">
        <div class="side">
          <img src="../images/profile-picture.jpg">
        </div>
        <div class="main">
          {{ content }}
          <br>
        </div>
      </div>
      <div class="break">
        <br>
      </div>
      <div id="resume">
        <br>
        {% capture resume %}{% include_relative resume.md %}{% endcapture %}
        {{ resume | markdownify }}
        <br>
      </div>
      <div class="break">
        <br>
      </div>
      <div id="portfolio" class="portfolio">
        <br>
        <h1>> portfolio</h1>
        <div class="container">
          {% for project in site.portfolio %}
          <div class="element">
            <a href="{{ project.link }}">
              <img src="{{ project.image }}">
              <h2>{{ project.title }}</h2>
              <p>{{ project.content | markdownify }}</p>
            </a>
          </div>
          {% endfor %}
        </div>
      </div>
    </section>
    <footer>
      <p><small>hosted on github pages. <br> original theme by <a href="https://github.com/orderedlist">orderedlist</a>,
          <br> modified by me.</small></p>
    </footer>
  </div>
  <script src="{{ " /assets/js/scale.fix.js" | relative_url }}"></script>
</body>

</html>