<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        
      </header>
      <nav>
        <ul>
          <li><a href="http://localhost:4000/">home</a></li>
          <li><a href="http://localhost:4000/resume">resume</a></li>
          <li><a href="http://localhost:4000/portfolio">portfolio</a></li>
        </ul>
      </nav>
      <section class="portfolio">
        <br>
        {{ content }}
        <div class="container">
          {% for project in site.portfolio %}
          <div class="element">
            <a href="{{ project.link }}"><h2>{{ project.title }}</h2>
            <img src="{{ project.img }}">
            </a>
            {{ project.content | markdownify }}
          </div>
          {% endfor %}
        </div>
      </section>
      <footer>
        <p><small>hosted on github pages. <br> original theme by <a href="https://github.com/orderedlist">orderedlist</a>, modified by me.</small></p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
