<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        
      </header>
      <nav>
        <ul>
          <li><a href="http://localhost:4000/">home</a></li>
          <li><a href="http://localhost:4000/resume">resume</a></li>
          <li><a href="http://localhost:4000/portfolio">portfolio</a></li>
        </ul>
      </nav>
      <section class="left">
        <h3>Education</h3>
        <p>BSc. Computer Science</p>
        <p>McGill University</p>
        <p>September 2019 – May 2024</p>
        <p>Relevant coursework: <i>Honours Algorithms and Data Structures, Discrete Mathematics, Software Design, Modern Computer Games, Computer Graphics.</i></p>
        <br>
        <h3><a href="https://gamedevmcgill.ca/">GameDevMcGill</a> Alumni</h3>
        <p>September 2019 – May 2024</p>
        <p>I was a member of McGill University's game development society during my studies there.</p>
        <p>I ended up leading multiple teams to develop award-winning games during GameDevMcGill’s annual 48‐hour game jam, and met some of the coolest people I know there!</p> 
      </section>
      <section class="right">
        <br>
        {{ content }}
      </section>
      <footer>
        <p><small>hosted on github pages. <br> original theme by <a href="https://github.com/orderedlist">orderedlist</a>, <br> modified by me.</small></p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
